.square {
    color: rgba(255,255,255,.2);
    width: 100%;
    height: 100%;
    padding: 10%;
    // .react-draggable-transparent-selection & {
    //     &:hover {
    //         background-color: rgba(255,255,255,.2);
    //     }
    // }
}
